/*here is a comment to allow a commit*/
body
{
	background-color:#102372;
}
#Title
{
	font-family:"Times New Roman";
	color:orange;
}
#Schedule
{
	text-allign:center;
	font-family:"Times New Roman";
	color:#102372;
	background-color:green;
	border:5px solid black;
}
#Homework
{
	background-color:orange;
	text-allign:center;
	font-family:"Times New Roman";
	color:#102372;	
	border:5px solid black;
}
#Picture
{
	text-allign:center;
	font-family:"Times New Roman";
	color:orange;
	background-color:black;
	border:5px solid black;
}

